/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}




html, input {
  overflow-y: scroll;
  background-color: black;
  color: white;
  font-family:
    'VT323',
    monospace,
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}


button{
  font-family: 'VT323', monospace;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page, .main.page, .gameOver.page{
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 60%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  
  width: 400px;
}

.login.page .title {
  font-size: 200%;
  
}

.login.page .gameTitle, .main.page .gameTitle, .gameOver.page .gameTitle{
  
  font-size: 3em;
  margin-bottom: 100px;
  text-align: center;
}

.gameOver.page #gameOver{
  text-align: center;
}

.main.page button, .gameOver.page button{
  position: relative;
  width: 10%;
  left: 40%;
  padding: 10px;
}



.login.page #welcome{
  margin-bottom: 25px;
  text-align: center;
  
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

.textDescription{
  position: relative;
  width: 60%;
  left: 20%;
  margin-right: 20%;
  
}

#bottomDescription{
  margin-bottom: 50px;
}

/* Chat page */

.chat.page, .main.page, .gameOver.page {
  display: none;
  
}

.main.page, .gameOver.page{
  color: white;
}

/* Font */

.messages {
  font-size: 150%;
  background-color: black;
  color: white;
}

.inputMessage {
  font-size: 100%;
  background-color: black;
  color: white
}

.log {
  color: white;
  font-size: 70%;
  margin: 5px;
  text-align: center;
  
}

/* Messages */

.chatArea {
  height: 95%;
  background-color: black;
  color: white;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: white;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 3px solid gray;
  
  bottom: 0;
  height: 5%;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: relative;
  display: block;
  right: 0;
  width: 100%;
  color: white;
}


#rightSide{
  position: relative;
  width: 75%;
  float: left;
  height: 100%;

}

#rightSide #title{
  position: relative;
  width: 100%;
  text-align: center;
  color: black;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: 2em;
}

#rightSide #dropdowns{
  position: relative;
  width: 100%;
  float: left;
  
}

#rightSide #dropdowns .dropdown{
  position: relative;
  width: 100%;
  float: left;
  height: 125px;
  
 
}

#rightSide #dropdowns .secondDropdown{
  position: relative;
  width: 100%;
  float: left;
  height: auto;
  
  
}

#rightSide #dropdowns .dropdownTitle{
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    height: 25px;
    font-size: 25px;
  }

#rightSide #dropdowns #stats ul{
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0;
    height: 75px;
  }

 #rightSide #dropdowns #stats ul li{
      position: relative;
      float: left;
      width: 16.6%;
      height: 75px;
      padding: 0;
      margin: 0;
      
      
  }


    #rightSide #dropdowns #stats ul li img{
      
      height: 50px;
      width: auto;
      padding: 0;
      margin: 0;
      z-index: -1;
      /* may have to make width:75% or something */
      
  }

    #rightSide #dropdowns #stats ul li .specificStat{
      display: block;
      position: relative;
      float: left;
      height: 25px;
      font-size: .75em;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      color: hsl(120, 75%, 45%);
      
      
      font-weight: bold;
  }



#rightSide #dropdowns #secondStats #foolStuff{
  margin-bottom: 5px;
  position: relative;
  width: 24%;
  float: left;
  left: 1%;
  text-align: center;
}

#rightSide #dropdowns #secondStats #foolStuff #foolDescription{
  position: relative;
  float: left;
  width: 100%;
  padding: 5px;
  font-style: italic;
}

#rightSide #dropdowns #secondStats #foolTitle{
  position: relative;
  width: 100%;
  float: left;
  text-align: left;
  padding-left: 1%;
}

#rightSide #dropdowns #secondStats #foolStuff #fool{
  position: relative;
  width: 100%;
  float: left;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px black;
}

#rightSide #dropdowns #secondStats ul{
    position: relative;
    width: 75%;
    float: left;
    left: 1%;
    text-align: left;
    font-size: 25px;
    padding: 0;
    margin: 0;
    
  }

 #rightSide #dropdowns #secondStats ul li{
      position: relative;
      float: left;
      width: 100%;
      height: 75px;
      padding: 5px;
      margin: 0px;
      
  }


    #rightSide #dropdowns #secondStats ul li img{
      position: relative;
      float: left;
      height: 50px;
      width: auto;
      padding: 0;
      margin: 0;
      z-index: -1;
      /* may have to make width:75% or something */
      
  }

    #rightSide #dropdowns #secondStats ul li .specificStat{
      display: block;
      position: relative;
      float: left;
      height: 75px;
      
      width: auto;
      text-align: left;
      padding: 5px;
      margin: 2px;
      color: hsl(120, 75%, 45%);
      font-weight: bold;
  }

 #rightSide #dropdowns #secondStats ul li .statDescription{
      display: block;
      position: relative;
      float: left;
      height: 75px;
      
      width: auto;
      text-align: left;
      padding: 5px;
      margin: 2px;

  }

#rightSide #dropdowns #event #eventImage img{
    position: relative;
    height: 75px;
    width: auto; 
    float: left;
    padding-left: 5px;
    
  }

#rightSide #dropdowns #event #eventImage{
    position: relative;
    width: 10%;
    float: left;
   
  }

#rightSide #dropdowns #event #eventTitle{
    position: relative;
    width: 90%;
    float: left;
    text-decoration: underline;
    padding-left: 20px;
    height: 25px;
  font-size: 1.5em;
  }

#rightSide #dropdowns #event #eventDescriptionTLDR{
    position: relative;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 74px;
  }

#rightSide #dropdowns #secondEvent #secondEventImage img{
    position: relative;
    width: 100%;
    float: left;
    box-shadow: 1px 1px 3px black;
    margin: 5px; 
    border: 1px solid white;
    border-radius: 1px;
  }

#rightSide #dropdowns #secondEvent #secondEventImage{
    position: relative;
    width: 23%;
    float: left;
   
  }


#rightSide #dropdowns #secondEvent #eventDescription{
    position: relative;
    width: 77%;
    height: auto;
    float: left;
    overflow-y: scroll;
    text-align: center;
    font-style: italic;
    padding: 10px;
    margin-top: 5px;
  }

#rightSide #dropdowns #vote #voteTimer{
  position: relative;
  text-align: center;
  float: left;
  width: 100%;
  font-weight: bold;
  padding-top: 5px;
  color: white;
}

#rightSide #dropdowns #vote #voteInformation{
  position: relative;
  width: 100%;
  float: left;
  height: 25px;
  padding-left: 5px;
}

#rightSide #dropdowns #vote #userVote, #rightSide #dropdowns #vote #userVoteWeight{
  position: relative;
  width: 50%;
  float: left;
  padding-left: 1%;
}

#rightSide #dropdowns #vote #voteTimerNum, #rightSide #dropdowns #vote #userVoteChoice, #rightSide #dropdowns #vote #weight{
  display: inline;
  color: white;
}

#rightSide #dropdowns #vote ul{
  position: relative;
  width: 100%;
  float: left;
  height: 50px;
  padding: 0;
  margin: 0;
}

#rightSide #dropdowns #vote ul li{
  position: relative;
  width: 25%;
  float: left;
  padding: 0;
  margin: 0;
}

#rightSide #dropdowns #vote ul li button{
  position: relative;
  float: left;
  height: 25px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  outline: none;
  color: white;
  border: 1px solid white;
  background-color: gray;
}

#rightSide #dropdowns #vote ul li .choice{
  position: relative;
  float: left;
  padding-top: 5px;
  width: 100%;
  text-align: center;
}

#rightSide #dropdowns #secondVote ul{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
    padding-left: 5px;
}

#rightSide #dropdowns #secondVote ul li{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

#rightSide #dropdowns #secondVote ul li div{
  display: inline;
   
}

#rightSide #resolution #finalVote{
  position: relative;
  width: 100%;
  height: 25px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  
}

#rightSide #resolution #finalVote #finalVoteChoice{
  display: inline;
  text-decoration: none;
}

#rightSide #resolution #resolutionDescription{
  position: relative;
  width: 100%;
  float: left;
  padding-left: 5px;
  padding-right: 5px;

  overflow-y: scroll;
  height: 74px;
}

#rightSide #dropdowns #secondVote ul #secondOption0, #rightSide #dropdowns #secondVote ul #secondOption1, #rightSide #dropdowns #secondVote ul #secondOption2, #rightSide #dropdowns #secondVote ul #secondOption3{
  font-style: italic;
   
}

#rightSide #dropdowns #gameLog{
  position: relative;
  width: 100%;
  float: left;
  height: 50px;
}

#rightSide #dropdowns #gameLog #logTitle{
  position: relative;
  width: 100%;
  float: left;
  padding-left: 5px;
}

#rightSide #dropdowns #secondGameLog{
  position: relative;
  width: 100%;
  float: left;
  
}

#rightSide #dropdowns #secondGameLog .lineBreak{
  display: block;
}

#rightSide #dropdowns #secondGameLog .logElement{
  position: relative;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top; 5px;
}


#rightSide #dropdowns .dropdownButton{
  height: 25px;
  width: 100%;

  outline: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: gray;
  color: black;
  background-image: url("media/dropdownIcon_Down.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 15px;
}


#rightSide #dropdowns #secondStats, #rightSide #dropdowns #secondEvent, #rightSide #dropdowns #secondVote, #rightSide #dropdowns #secondGameLog{
  display: none;
}


#leftSide{
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: black;
  color: white;
  right: 0px;
  
}

#leftSide .chatArea{
  border-left: 3px solid gray;
  background-color: black;
  color: white;
}

#startButton, #tutorialButton{
  position: relative;
  width: 50%;
  left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
  background-color: black;
  color: white;
}

#tutorial a{
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  
  
   .login.page .form {
    top: 75%;
  }

.login.page .form .usernameInput {

  width: 90%;
}
  
.main.page button, .gameOver.page button{
  position: relative;
  width: 75%;
  left: 15%;
  margin-right: 15%;
  padding: 10px;
  margin-bottom: 10px;
}
  

  
  #voteArea{
    display: none;
    visibility: hidden;
  }

  #leftSide{
    float: left;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: black;
  }
  
  #leftSide{
    display: none;
    visibility: hidden;
  }
  


#rightSide{
  
  height: 75%;
  width: 100%;
  margin: 0;
  left: 0;
  float:left;

}
  
  #rightSide #title{
    font-size: 1em;
  }
  
  #rightSide #dropdowns .dropdownTitle{

    font-size: 15px;
  }
  
#rightSide #dropdowns #stats ul li img{
      
      height: 40px;  
  }
  
#rightSide #dropdowns #secondStats #foolStuff{

  width: 100%;
  left: 0;
}

  
  #rightSide #dropdowns #secondStats #foolStuff #fool{
  
  width: 45%;
  left: 2.5%;
  margin-right: 2.5%;
}
  
#rightSide #dropdowns #secondStats #foolStuff #foolDescription{

  width: 50%;
  
}
  


#rightSide #dropdowns #secondStats ul{
   
    width: 100%;

    left: 0;
    
  }

 #rightSide #dropdowns #secondStats ul li{
      position: relative;
      float: left;
      width: 100%;
      height: 75px;
      padding: 5px;
      margin: 0px;
      
  }


    #rightSide #dropdowns #secondStats ul li img{
      position: relative;
      float: left;
      height: 50px;
      width: auto;
      padding: 0;
      margin: 0;
      z-index: -1;
      /* may have to make width:75% or something */
      
  }

    #rightSide #dropdowns #secondStats ul li .specificStat{
      display: block;
      position: relative;
      float: left;
      height: 75px;
      
      width: auto;
      text-align: left;
      padding: 5px;
      margin: 2px;
      color: hsl(120, 75%, 45%);
      font-weight: bold;
      
       font-size: .75em;
  }

 #rightSide #dropdowns #secondStats ul li .statDescription{
      display: inline;
      position: relative;
      float: left;
      height: 75px;
      
      width: 60%;
      text-align: left;
      padding: 5px;
      margin: 2px;
   
    font-size: .5em;

  }
  
  #rightSide #dropdowns #event #eventTitle{
    font-size: .75em;
  }

#rightSide #dropdowns #event #eventDescriptionTLDR{
    font-size: .75em;
  }
  
  #rightSide #dropdowns #secondEvent #secondEventImage img{
    
    width: 50%;
    left: 25%;
    
    box-shadow: 1px 1px 3px black;
    margin: 5px; 
  }

#rightSide #dropdowns #secondEvent #secondEventImage{
    position: relative;
    width: 100%;
    float: left;
   
  }


#rightSide #dropdowns #secondEvent #eventDescription{
    position: relative;
    width: 100%;

  }

#rightSide #dropdowns #vote #voteInformation{
  font-size: .75em;
}

#rightSide #dropdowns #vote #voteTimer, #rightSide #dropdowns #vote #userVote, #rightSide #dropdowns #vote #userVoteWeight{
  font-size: 1em;
}

#rightSide #dropdowns #vote #voteTimerNum, #rightSide #dropdowns #vote #userVoteChoice, #rightSide #dropdowns #vote #weight{
  font-size: 1em;
}
  
  #rightSide #dropdowns #vote ul li .choice{
  font-size: .75em;
}
  
  #rightSide #resolution #finalVote{
  font-size: .75em;
}



#rightSide #resolution #resolutionDescription{
  font-size: .75em;
}

 
}